<h1>Vehicles</h1>
<table>
    <thead>
        <tr>
            <th>Vehicle Name</th>
            <th>Color</th>
            <th>Cost</th>
            <th>Fuel</th>
            <th>Image</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.color}}</td>
            <td>{{vehicle.cost| rupee}}</td>
            <td>{{vehicle.fuel}}</td>
            <td><img src="{{vehicle.image}}" alt="" height="50px" width="50px"></td>
            <td><button class="btn btn-info" routerLink="/dashboard/vehicle-details/{{vehicle.id}}">View</button></td>
            <td><button class="btn btn-warning" routerLink="/dashboard/edit-vehicle/{{vehicle.id}}">Edit</button></td>
        </tr>
    </tbody>
</table>