<h1>EMPLOYEE DATA</h1>
<label for="">Employee Name:</label>
<input type="text" [(ngModel)]="empName"><br>
<label for="">Experience:</label>
<input type="number" [(ngModel)]="empExp"><br>
<label for="">Package:</label>
<input type="number" [(ngModel)]="empPack"><br>
<label for="">Role:</label>
<input type="text" [(ngModel)]="empRole"><br>
<button (click)="add()" class="btn btn-primary">Add  Employee</button>
<button (click)="bonus()">Add 50k Bonus</button>
<input type="text" [(ngModel)]="filterData" (keyup)="serch()">
<select [(ngModel)]="role" (change)="roleFilter()">
<option value="UIDeveloper">UI Developer</option>
<option value="Software Developer">Software Developer</option>
<option value="Data engineer">Data engineer</option>
<option value="Testing Engineer">Testing Engineer</option>


</select>
<button (click)="sort()">Sort Experience low to high</button>
<button (click)="totalCost()" class="btn btn-success">Cost to the company</button>
<table class="table table-dark">
<thead>
    <tr>
        <th>S No</th>
        <th>name</th>
        <th>experience</th>
        <th>package</th>
        <th>role</th>
        <th>Actions</th>
    </tr>

</thead>
<tbody>
    <tr *ngFor="let employee of employees;let i=index">
        <td>{{i+1}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.experience}}</td>
        <td>{{employee.package}}</td>
        <td>{{employee.role}}</td>
        <td>
            <button class="btn btn-danger" (click)="delete(i)">
              delete
            </button>
        </td>


    </tr>
</tbody>
</table>
