<div class="parent">
    <div class="left">
        <h1>dashboard</h1>
        <h2 routerLink="/dashboard/home">home</h2>
        <h2 routerLink="/dashboard/clock">clock</h2>
        <h2 routerLink="/dashboard/calculator">calculator</h2>
        <h2 routerLink="/dashboard/data-binding">data-binding</h2>
        <h2 routerLink="/dashboard/directives">directives</h2>
        <h2 routerLink="/dashboard/jobs">jobs</h2>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
